---
const { href } = Astro.props
---

<a href={href} target="_blank" role="link" class="inline-flex items-center text-lg font-medium text-sky-600 dark:text-yellow-200 dark:hover:text-yellow-300 hover:text-sky-800">
  <slot />
</a>